%turbo-frame#favorite
  お気に入り
  - if liked
    .ellipse-delete
      = link_to "削除する", recipe_favorites_path(recipe.id), data: { turbo_method: :delete }, remote: true
  - else
    .ellipse-post
      = link_to "登録する", recipe_favorites_path(recipe.id), data: { turbo_method: :post }, remote: true