%h1 Your Recipes
%ul.post-list
  - @recipes.each do |recipe|
    %li.post-list-item
      %a(href = "posts/#{recipe.id}")
        %h2= recipe.title
        %p= recipe.created_at
= link_to 'レシピ追加', new_post_path