/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}

h1 {
  margin: 0 0 30px 0;
}

header {
  background-color: #EBEBEB;
  width: 100%;
  padding: 15px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo a{
  color: black;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

.header-menus ul {
  list-style-type: none;
  margin: 0 30px 0 0;
  padding: 0;
  display: flex;
}

.header-menus ul li {
  margin-left: 20px;
  background-color: #D9D9D9;
  border-radius: 5px;
  padding: 7px;
}

.header-menus ul li a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.registration-container  {
  padding: 0 100px 0 100px;
}

.registration-container form {
  display: flex;
  max-width: 800px;
  padding: 50px; 
  background-color: #EBEBEB;
  border-radius: 5px;
  flex-direction: column;
}

.registration-container label {
  font-weight: bold;
}

.registration-container input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  height: 77px;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.registration-container input[type="submit"] {
  padding: 15px 120px;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  border: 1px solid black;
  margin-top: 80px;
  font-weight: bold;
}

.recipe-container {
  padding: 0 100px 0 100px;
}

.recipe-container .recipe-form {
  display: flex;
  max-width: 800px;
  padding: 50px;
  background-color: #FFFBF1;
  border-radius: 5px;
  flex-direction: column;
}

.recipe-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.recipe-container input[type="file"] {
  margin-bottom: 20px;
}

.recipe-container input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.recipe-container textarea {
  width: 95%;
  height: 240px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  resize: none;
}

.recipe-container input[type="number"] {
  width: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.recipe-container > input[type="submit"] {
  padding: 15px 120px;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  border: 1px solid black;
  font-weight: bold;
}

.recipe-container .cooking-time {
  margin-bottom: 40px;
}

.recipe-container .search-form {
  display: flex;
  justify-content: space-between;
}

.recipe-container .search-form .search-input {
  width: 800px;
  border-color: #EBEBEB;
  border-style: solid;
  border-width: medium;
}

.recipe-container .search-form .search-btn {
  background-color: #F6F6F6;
  border-style: none;
  width: 85px;
  height: 40px;
  /* padding: 50px; */
  font-weight: normal;
  border-radius: 6px;
}

.recipe-container .search-result-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.recipe-list-item {
  height: 200px;
  color: black;
  background-color: #fecf;
  /* column-gap: 30px; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.recipe-list-item .text-div {
  width: 100%;
  padding: 15px 30px;
  font-weight: bold;
}

.recipe-list-item .text-div .recipe-title {
  font-size: 20pt;
  margin-bottom: 85px;
}

.recipe-list-item .text-div a {
  color: black;
  text-decoration: none;
}

.recipe-list-item .text-div .recipe-lower-div {
  display: flex;
  justify-content: space-between;
}

.recipe-detail-container {
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
}

.recipe-detail-container .upper-container {
  display: flex;
  justify-content: space-between;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe-detail-container .username {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.recipe-detail-container .photo {
  margin-bottom: 20px;
}

.recipe-detail-container .itemname {
  width: 100%;
  background-color: #FFFBF1;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.recipe-detail-container .item {
  width: 100%;
  background-color: #F6F6F6;
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 10px 30px;
  box-sizing: border-box;
}

.recipe-detail-container .favorite {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.ellipse-post {
  width: 100px;
	height: 50px;
  font-size: 12pt;
 	background:#FFFBF1;
  border-style: solid;
  border-width: thin;
  border-color: #EBEBEB;
	border-radius: 50px / 25px;
  text-align: center;
  line-height: 50px;
}

.ellipse-delete {
  width: 100px;
	height: 50px;
  font-size: 12pt;
 	background:#F2C75A;
  border-style: solid;
  border-width: thin;
  border-color: #EBEBEB;
	border-radius: 50px / 25px;
  text-align: center;
  line-height: 50px;
}

.delete {
  width: 170px;
  background: #F34444;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
}

.recipe-detail-container a {
  color: black;
  text-decoration: none;
}

.recipe-detail-container .delete a {
  color: white;
}